.title-ola {
  animation: slide 2s ease-in;
}

.title-name {
  animation: name 2s ease-in;
}

@keyframes slide {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translatey(0);
  }
}

@keyframes name {
  0% {
    transform: translateX(30px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
